<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue refresher</title>
</head>
<body>
<div id="app">
  <h1>{{ title }}</h1>
  <p v-if="content.length == 0">Write something to add to the list</p>
  <p v-else>Finally there's a list</p>
  <todo v-for="item in content" :taki="item"></todo>

  <div>
    <input v-model="plug"></input>
    <button @click="content.push(plug)">Add Item</button>
  </div>


</div>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  Vue.component('todo', {
    props: ['taki'],

    template: `
      <div>
      <p v-if="toggle">{{taki}} Shoot</p>
      <button @click="toggle = !toggle">Pssst...click me</button>
      </div>

    `,

    data: function () {
      return{
        toggle: false
      }
    }
  });
  new Vue({
    el: '#app',

    data: {
      title: 'Vue refresher',
      content: [],
      plug: ''
    }
  });
</script>
</body>
</html>