<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue refresher</title>
</head>
<body>
<div id="app">
  <h1>{{ title }}</h1>
  <p v-if="content.length == 0">Write something to add to the list</p>
  <p v-else>Finally there's a list</p>
  <todo v-for="item in content" :taki="item"></todo>

  <div>
    <ul>
      <li v-for="post in posts" :key="post.id">{{ post.title }}</li>
    </ul>
  </div>

  <div>
    <input v-model="plug"></input>
    <button @click="content.push(plug)">Add Item</button>
  </div>


</div>



<script src="./dist/app.js"></script>
</body>
</html>